@import "./variables.scss";
.App {
  text-align: center;
  h1 {
    color: antiquewhite;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  min-height: 100vh;
}

.tool-bar {
  background-color: var(--nav);
  width: 100%;
  padding-bottom: 0.5rem;

  #website-logo {
    font-family: var(--title-font);
    font-size: 18px;
  }

  .website-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-container {
      display: flex;
      align-items: center;

      .user-info-container {
        padding-right: 1rem;

        #user-name {
          font-family: var(--header-font);
          font-size: 18px;
          margin-top: 0.5rem;
          margin-bottom: -0.5rem;
        }

        #user-position {
          font-family: var(--text-font);
          font-size: 14px;
        }
      }

      #user-icon {
        margin-top: 0.5rem;
      }
    }
  }
}

a {
  text-decoration: none !important;
  color: #fff !important;

  svg {
    color: #fff;
  }

  .tab-item {
    font-family: var(--title-font);
    font-size: 18px;
    padding-top: 0.5rem;
  }

  .MuiListItemIcon-root {
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
  }
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

.appointment__add-button {
  width: 200px;
  margin-top: 40%;
}
#add-skill-container {
  background-color: rgba(255, 255, 255, 0.4);
}
#quote-container {
  height: auto;
}
#modal-form-container {
  height: auto;
  background-color: white;
  .MuiFormControl-fullWidth {
    padding: 10px;
  }
}
