@import "./variables.scss";

.list-component {
  max-width: 45vw;
  min-height: 700px;
  button {
    margin-top: 10px;
  }
  .MuiTableCell-head {
    font-weight: 550;
  }
  .MuiTableCell-sizeSmall {
    padding: 5px;
  }
  .MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
    padding: 15px 14px;
  }
  .MuiButtonBase-root,
  .MuiIconButton-root {
    margin: 0;
  }
  .MuiInputBase-input {
    padding: 6px 0 11px;
  }
  #date-picker-inline {
    font-size: 11px;
    padding-bottom: 17px;
  }
  .btnContainer {
    width: 100%;
    text-align: right;
  }

  .MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover{
    background-color: var(--button-hover);
  }
  .MuiSvgIcon-root {
    fill: var(--button);
  }
}

label[data-shrink="false"]
  // + .MuiInputBase-formControl
  .MuiInputBase-input::placeholder {
  opacity: 0 !important;
  display: block;
  vertical-align: middle;
}

@media (max-width: 1250px) {
  .list-component {
    max-width: 100vw;
    min-height: auto;
  }
}
